<ul>
  <% if @sla_calendar %>
    <li><%= context_menu_link l(:button_show), sla_calendar_path(@sla_calendar), class: 'icon icon-magnifier', disabled: !@can[:edit] %></li>
    <li><%= context_menu_link l(:button_edit), edit_sla_calendar_path(@sla_calendar), class: 'icon icon-edit', disabled: !@can[:edit] %></li>
  <% end %>
  <li><%= context_menu_link l(:button_delete),
            sla_calendars_path(id: @sla_calendar_ids, back_url: @back),
            method: :delete, class: 'icon icon-del', disabled: !@can[:delete],
            data: { confirm: l('sla_label.sla_calendar.count',count: @sla_calendar_ids.count)+"\n"+l(:text_are_you_sure) }
  %></li>
  <%= call_hook(:view_sla_calendars_context_menu_end, { sla_calendar: @sla_calendar, sla_calendars: @sla_calendars, can: @can, back: @back, project: @project }) %>
</ul>