<% html_title(l(:sla_label_global_settings)) %>
<div class="content">
  <%= render :partial => 'action_menu' %>
  <div class="title-sla-settings title-sla_cache_spent">
    <%= title l('sla_label.sla_cache_spent.plural') %>
  </div>  

  <h3>n°<%= @sla_cache_spent.id %>&nbsp;:&nbsp;<%= @sla_cache_spent.updated_on %></h3>

</div>
<% content_for :sidebar do %>
  <% render partial: 'slas/sidebar' %>
<% end %>
