<p>
  <label for="settings_sla_display"><%= l(:label_display) %></label>
  <%= select_tag 'settings[sla_display]', options_for_select(['none','bar','pie - flat','pie - modern'],
    @settings["sla_display"]) %>
</p>