<div class="contextual">
  <%= link_to l(:button_back), :back,
      :title => l(:button_back), class: 'icon icon-cancel',
      :accesskey => accesskey(:previous) %>
  <% if User.current.admin? -%>  
    <%= link_to l('sla_label.sla_holiday.index'), sla_holidays_path,
          title: l('sla_label.sla_holiday.index'), class: 'icon icon-sla_holiday' %>
    <%= link_to l('sla_label.sla_holiday.edit'), edit_sla_holiday_path(@sla_holiday),
          title: l('sla_label.sla_holiday.edit'), class: 'icon icon-edit',
          :accesskey => accesskey(:edit) %>
    <%= link_to l('sla_label.sla_holiday.delete'), sla_holiday_path(@sla_holiday),
          data: {:confirm => l(:text_are_you_sure)}, :method => :delete,
          title: l('sla_label.sla_holiday.delete'), class: 'icon icon-del',
          :accesskey => accesskey(:delete) %>
  <% end -%>
</div>
  