<ul>
  <% if @sla_holiday_ids.count == 1 %>
    <li><%= context_menu_link l(:button_show), sla_holiday_path(@sla_holiday), class: 'icon icon-magnifier', disabled: !@can[:show] %></li>
    <li><%= context_menu_link l(:button_edit), edit_sla_holiday_path(@sla_holiday), class: 'icon icon-edit', disabled: !@can[:edit] %></li>
  <% end %>
  <li><%= context_menu_link l(:button_delete),
            sla_holidays_path(id: @sla_holiday_ids, back_url: @back),
            method: :delete, class: 'icon icon-del', disabled: !@can[:delete],
            data: { confirm: l('sla_label.sla_holiday.count',count: @sla_holiday_ids.count)+"\n"+l(:text_are_you_sure) }
  %></li>
  <%= call_hook(:view_sla_holidays_context_menu_end, { sla_holiday: @sla_holiday, sla_holidays: @sla_holidays, can: @can, back: @back, project: @project }) %>
</ul>