<% html_title(l(:sla_label_global_settings)) %>
<div class="content"> 
  <div class="contextual">
    <%= link_to l('sla_label.sla_holiday.plural'), sla_holidays_path, class: 'icon icon-cancel' %>
  </div>
  <div class="title-sla-settings title-sla_holiday">
    <%= title l('sla_label.sla_holiday.new') %>
  </div>  
  <%= render partial: 'form', locals: { sla_holiday: @sla_holiday } %>
</div>  
<% content_for :sidebar do %>
  <%= render partial: 'slas/sidebar' %>
<% end %>