<% html_title(l(:sla_label_global_settings)) %>
<div class="content"> 
  <div class="contextual">
    <%= link_to l('sla_label.sla_level.plural'), sla_levels_path, class: 'icon icon-cancel' %>
  </div>
  <div class="title-sla-settings title-sla_level">
    <%= title l('sla_label.sla_level.new') %>
  </div>  
  <%= render partial: 'form', locals: { sla_level: @sla_level } %>
</div>
<% content_for :sidebar do %>
  <%= render partial: 'slas/sidebar' %>
<% end %>